.img1 {
    margin-left: 90px;
    padding-top: 10px;
    align-self: center;
}
.img2 {
    margin-left: 5px;
    padding-top: 10px;
    align-self: center;
}
.img3 {
    margin-left: 90px;
    padding-top: 10px;
    align-self: center;
}
.body {
 background-color: #6c3cb4;
 padding-bottom: 20px;
 display: block;
} 
.row1 {
    display: inline-flex;
}
.title {
    font-size: 150px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 25px;
    color: #fff;
    border-radius: 50px;
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252, 1) 100%);
    text-align: center;
    vertical-align: middle;
    width: 800px;
}
.intro {
    font-size: 25px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 25px;
    color: #fff;
    border-radius: 50px;
    background: #4ad9e4;
    text-align: center;
    vertical-align: middle;
    align-self: center;
    width: 800px;
}
.row2 {
    display: inline-flex;
}